<tr id="config-{{ config.name }}">
  <td>{{ config.name }}</td>
  <td>{{ config.hostname }}</td>
  <td>
<button class="btn green"
  hx-post="/run-cluster"
  hx-vals='{"name":"{{ config.name }}"}'
  hx-target="#clusters"
  hx-swap="beforeend"
  onclick="startStream('run', '{{ config.name }}')">
  Run
</button>

    <button class="btn red"
      hx-post="/delete-config"
      hx-vals='{"name":"{{ config.name }}"}'
      hx-target="#config-{{ config.name }}"
      hx-swap="delete">
      Delete
    </button>
  </td>
</tr>
